<launch>
  <arg name="group" default="B" />
  <arg name="rosbag_id" default="7" />
  <arg name="master" default="True" />
  <group ns="$(arg group)">





    <!-- Start the swarm_driver -->
    <node name="hardcode_swarm_driver_node" pkg="drone_swarm" type="hardcode_swarm_driver.py" output="screen">
      <param name="~group" value="$(arg group)"/>
      <param name="~rosbag_id" value="$(arg rosbag_id)"/>
      <param name="~master" value="$(arg master)"/>

    </node>
  </group>





</launch>
