<launch>
  <arg name="group" default="A" />
  <arg name="drone_num" default="4" />
  <arg name="rosbag_id" default="14" />



    <!-- Start the swarm_driver -->
    <node name="hardcode_swarm_driver_node" pkg="drone_swarm" type="hardcode_swarm_driver.py" output="screen">
      <param name="~group" value="$(arg group)"/>
      <param name="~drone_num" value="$(arg drone_num)"/>
      <param name="~rosbag_id" value="$(arg rosbag_id)"/>
    </node>

    <node name="sim_node" pkg="drone_swarm" type="turtle_sim.py" output="screen">
        <param name="~total_turtle" value="$(arg drone_num)"/>
    </node>



</launch>
