<launch>
  <arg name="name" default="tello" />
  <arg name="id" default="1" />
  <arg name="drone_ip" default="192.168.0.101" />
  <arg name="local_port" default="9010" />
  <arg name="group" default="A" />
  <arg name="target" default="[]" />    
  <group ns="$(arg group)">
    <!-- Start the ROS core -->
    <node name="roscore" pkg="ros" type="core" output="screen"/>

    <!-- Launch the hello_publisher node -->
    <node name="hello_publisher_node" pkg="drone_swarm" type="testing.py" output="screen"/>
</launch>

